<main class="container-fluid bg-light" style="height: 100vh;">
  <div class="row h-100 fondo ">
    <div class="col-md-4">
      <div class="card cardmaster card-hover " (click)="goInvitado()">
        <div class="card-body shadow text-center  cardhijo ">
          <i class="fas fa-user-secret fa-9x"></i>
          <h3>Entrar como Invitado</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card cardmaster card-hover " (click)="goAdmin()">
        <div class="card-body shadow text-center cardhijo">
          <i class="fas fa-home fa-9x"></i>
          <h3>Acceder a la Intranet</h3>
        </div>
      </div>
    </div>
  </div>
</main>
