header{
    height: 60px;
    background-color: blue;
}

.principal{
    background-color: #eee;
}

.borderStyle{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    backgrou

}