.footer-container{
    height: 200px;
    width: 100%;
    background-color: #019CDB;
}

.row-fila1{
    height: 170px;
    background-color: #019CDB;
}
.row-fila2{
    height: 30px;
    background-color: blue;
}


/* ___________________bolitas_____________________________ */

.bolita{
    height: 15px;
    width: 15px;
    background-color: #ffff;
    border: 1px solid #019CDB;
    border-radius: 50%;
}

.flexbox{
    position: fixed;
    bottom: 0;
}

