<main class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div>
        <div>
          <div style="display: block">
            <canvas
              baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType"
            >
            </canvas>
          </div>
          <button class="btn btn-success" (click)="randomize()">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
