<main class="container mt-5">
    <p [ngStyle]="miCard">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur itaque, iure maxime illum recusandae laborum officiis aliquam blanditiis et inventore fugit quia adipisci fuga impedit minima eum voluptate quos ducimus!
    </p>
    <hr>
    <p [ngStyle]="{'font-size': '2rem', 'color': rojo}">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus unde repudiandae iste! Quas ipsam rem repellat quasi pariatur, cum rerum soluta tenetur, recusandae quae quod alias odio quis distinctio dolor?
    </p>

</main>