*{
    margin: 0;
}

html, body{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, #a8ff78, #78ffd6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ------------------------------------- */

h3{
    font-size: 26px;
}

.container_master{  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container_main{
    margin: 40px;
    width: 40%;
    height: 755px;
    /* background-color: #78ffd6; */
}

/* ------ tabla 1---------- */

.container_tabla_1{
    width: 100%;
    margin-top: 30px;
    
}

td{
    padding: 0;
    height: 50px;

}


/* ------td--------------- */


.td2{
    background-color: #14C9B8;
    color: #fff;

}

.td3{
    background-color: #fff;
    color: #14C9B8;    
}

/* --------hover td tabla 1--------- */

.td3:hover{
    background-color: #DEE2E2;
}

/* ----------TD tabla 2 */

.container_tabla_2{
    width: 100%;
    background-color: #fff;
    margin-top: 30px;
}

/* td */

.agrandar{
    width: 630px;
    border-bottom: 1px solid #f1f1f1;
}

.pequeño{
    width: 2px;
    border-bottom: 1px solid #f1f1f1;
}

/* -------hover table 2----------- */

.container_tabla_2 td:hover{
    background-color: #f1f1f1;
}

