.card-hover{
  cursor: pointer; 
  transition: 500ms;                 
};

.card-hover:hover{
    transform: scale(1.1);                
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}